.footer {
  margin-top: auto;
  background: #12141d;
  &__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  .contacts_info {
    width: 27%;
  }
  .email {
    font-size: 24px;
    color: white;
  }
  .adress {
    font-size: 18px;
    color: #838e9e;
  }
  .contacts_info a {
    text-decoration: none;
  }
  .socials {
    text-align: center;
    width: 45%;
  }
  .position_img_social {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 56px;
  }
  .socials p {
    margin-top: 26px;
    color: #ffffff;
  }
  .list_item_info {
    width: 27%;
  }
  .list_item_info p {
    color: white;
    padding-left: 20px;
  }

  .list_item_info ul li {
    list-style: none;
    color: #838e9e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .list_item_info ul li:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .email {
      font-size: 14px;
    }
    .adress {
      font-size: 12px;
    }
    li {
      font-size: 12px;
    }
    p {
      font-size: 14px;
    }
    img {
      width: 20%;
    }
    .logo {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 424px) {
    p {
      font-size: 12px;
    }
    .email {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 374px) {
    .list_item_info p {
      padding-left: 5px;
    }
    p {
      font-size: 10px;
    }
    .email {
      font-size: 10px;
    }
    .adress {
      font-size: 10px;
    }
    .list_item_info li {
      font-size: 10px;
    }
    .list_item_info ul {
      padding-left: 20px;
    }
  }
}
